.stat-card{

background:white;

border-radius:15px;

padding:25px;

box-shadow:0 5px 15px rgba(0,0,0,.08);

transition:.3s;

cursor:pointer;

}

.stat-card:hover{

transform:translateY(-5px);

}

.stat-card h3{

color:#666;

margin-bottom:10px;

}

.stat-card h1{

font-size:42px;

color:#4F46E5;

}